.a0 {
  position: absolute;
}
.a1 {
  position: absolute;
}
.a2 {
  position: absolute;
}
.a3 {
  position: absolute;
}
.a4 {
  position: absolute;
}
.a5 {
  position: absolute;
}
.a6 {
  position: absolute;
}
